img{border:none;}
a, a:hover{text-decoration:none;text-underline:none;}
*{font-family:"YouYuan";}
.clearboth{clear:both;}
ul, li{padding:0;margin:0;list-style:none;}
body{padding:0;margin:0;}
.left{float:left;}
.right{float:right;}

/* list.html */
.qhead{width:100%;height:auto;margin:20px 0;text-align:center;vertical-align:middle;}
.qhead span{display:inline-block;text-align:center;}
.qname{width:132px;height:42px;font-size:32px;}
.qicon{width:100px;height:100px;margin:0 20px 0;}
.qicon img{width:100px;height:100px;}
.qtheme{width:220px;height:35px;font-size:24px;}


.qnavbg{width:100%;height:auto;background-color:#ae141c;margin:0 auto;padding:10px 0;}
.qnav{width:96%;padding:10px 0;margin:0 auto;text-align:center;}
.qnav span, .qnav a{display:inline-block;cursor:hand;height:80px;line-height:80px;}
.qno{width:auto;border-radius:40px;background-color:#ae141c;color:#ffffff;margin:0 4px;padding:0 30px 0 30px;font-size:40px;}
.qyes, .qno:hover, .qyes:hover{border-radius:40px;background-color:#ffffff;color:#ae141c;padding:0 30px 0 30px;font-size:40px;text-decoration:none;}

.qcontent{width:94%;margin:0 auto;}
.qsearch{width:100%;height:60px;margin:30px 0;}
.searchbox{width:100%;height:60px;border:#cccccc 2px solid;border-radius:30px;margin:0 auto;}
.searchbox span{display:block;float:left;width:60px;height:60px;background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/q_search.png) 0 -2px no-repeat;}
.searchbox input{width:550px;height:46px;line-height:46px;margin:5px 0 5px;border:none;font-size:18px;color:#999999;text-indent:10px;}

.newsbox{width:640px;height:356px;margin:0 auto;background-color:#f2f2f2;overflow:hidden;position:relative;}
.newsview{width:auto;height:356px;}
.newspic{width:640px;height:356px;display:block;float:left;position:relative;}
.newspic img{width:100%;vertical-align:middle;}
.newstitle{position:absolute;left:0;bottom:0;opacity:0.6;filter:alpha(opacity=60);width:100%;height:40px;background-color:#000000;color:#ffffff;font-size:24px;line-height:40px;overflow:hidden;padding:0 10px 0 10px;}
.slidepoint{width:100%;height:10px;padding:5px 0 5px;position:absolute;left:200px;bottom:0;opacity:0.6;filter:alpha(opacity=60);background-color:#000000;}
.spacebox{width:280px;height:8px;float:left;}


.listbox{width:100%;height:auto;overflow:hidden;padding:40px 0 40px 0;border-top:1px #e9e9e9 solid;}
.listbox .listleft{width:64%;height:auto;float:left;margin-right:20px;}
.listbox .listright{width:32%;height:210px;float:left;}
.imgspan{display:inline-block;overflow:hidden;}
.imgspan img{width:100%;}
.listbox .listright .imgspan{width:100%;height:100%;}
.titlea{display:block;font-size:40px;font-weight:500;color:#333333;height:auto;line-height:60px;overflow:hidden;margin-bottom:12px;}
.titlea:hover{text-underline:none;}
.textspan{display:block;font-size:24px;color:#666666;line-height:1.3em;height:90px;overflow:hidden;margin-bottom:18px;}
.listimg{margin-bottom:15px;text-align:left;height:auto;}
.listimg .imgspan{margin:0 10px 0 0;width:32%;height:100%;}
.affbox{width:100%;color:#cccccc;font-size:24px;height:40px;overflow:hidden;}
.affbox span{float:left;}
.affbox .timespan{margin-left:30px;}

.loadmore{width:100%;height:40px;background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/q_line.png) 0 40px repeat-x;padding:40px 0 40px 0;border-top:1px #e9e9e9 solid;}
.loadmore .loading{width:200px;height:40px;line-height:40px;color:#ffffff;background-color:#ae141c;border:#ae141c 2px solid;border-radius:30px;margin:0 auto;font-size:18px;text-align:center;}

.qfoot{width:94%;height:80px;margin:0 auto;line-height:80px;font-size:16px;color:#999999;border-top:1px #d9d9d9 solid;}
.qfoot span{float:left;}
.qfoot a{float:right;color:#ae141c;}
.qfoot a:hover{}
.qfoot a b, .qfoot a span{display:block;float:left;}
.qfoot a b{display:block;float:left;width:36px;height:80px;background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/q_about.png) 0 28px no-repeat;}


/* detail.html */
.aticletitle{height:auto;font-size:52px;font-weight:bolder;color:#333333;line-height:1.5;padding:20px 0 20px;}
.aticlecon {font-size:44px;color:#333333;line-height:1.6;margin-top:5px;padding-top:20px;border-top:1px #d9d9d9 solid;overflow:hidden;}
.aticlecon img{display:block;margin:10px auto;}
.qlist{width:94%;height:auto;margin:0 auto;}
.qlist ul{padding-top:10px;}
.qlist ul li{margin:10px 0;height:auto;}
.qlist ul li.listtitle{margin-bottom:10px;color:#999999;overflow:hidden;border-bottom:1px #d9d9d9 solid;}
.qlist ul li.listtitle span{display:block;width:160px;height:28px;float:left;line-height:25px;padding-left:10px;font-size:24px;}
.qlist ul li.listtitle b{display:block;width:28px;height:28px;float:left;}
.icon_rel{background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/icon_rel.png) 0 0 no-repeat;}
.icon_dis{background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/icon_dis.png) 0 0 no-repeat;}
.qlist ul li a{font-size:20px;color:#666666;}
.qlist ul li a:hover{color:#ae141c;}
.disbox{padding:10px;border:1px solid #d9d9d9;border-radius:10px;margin:20px 0;overflow:hidden;}
.disinfo{width:100%;height:20px;overflow:hidden;}
.disname{display:block;float:left;color:#999999;font-size:14px;line-height:25px;}
.distime{display:block;float:right;color:#999999;font-size:14px;line-height:25px;}
.discon{color:#666666;font-size:20px;line-height:1.5;height:auto;}
.nothing{width:100%;height:60px;line-height:60px;font-size:24px;color:#999999;text-align:center;}

/* myhome.html */
.homefoot{width:640px;height:80px;margin:40px auto 0;line-height:80px;border-top:1px #d9d9d9 solid;text-align:center;font-size:16px;color:#999999;}
.codetitle{margin:40px 0 20px;color:#999999;overflow:hidden;border-bottom:1px #d9d9d9 solid;}
.codetitle span{display:block;width:auto;height:28px;float:left;line-height:25px;padding-left:10px;}
.codetitle b{display:block;width:28px;height:28px;float:left;}
.icon_dow{background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/icon_dow.png) 0 0 no-repeat;}
.icon_add{background:url(https://s3-us-west-2.amazonaws.com/pintimes/image/www/icon_add.png) 0 0 no-repeat;}
.codebox{width:240px;height:270px;}
.codebox span{display:block;text-indent:5px;font-size:16px;color:#999999;}
.codebox img{width:240px;}
.picapp{width:760px;height:520px;margin:20px auto;}